*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
  }
  .corpo{
      position: relative;
      top:20vh;
       left:26vw;
      background-color: lightskyblue;
      width:20vw;
      height:20vh;
      border:solid;
  }
  .olho{
      position: absolute;
      background-color: red;
      width: 30px;
      height: 30px;
      border:solid;
      border-radius:50%;
      bottom:5vh;
      left:10vh;

  }